#radar {
    width: 550px;
    height: 500;
    margin: 35px auto;
    left: 10; /* Ubicación en la parte izquierda */
    top: 65%;
    
    
    
  }

#titulo{
  left: 5%; /* Ubicación en la parte izquierda */
  top: 60%;
}

#grafico{
  left: 5%; /* Ubicación en la parte izquierda */
  top: 60%;
  position: absolute;


}
.container {
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 100px;

}


  