<section id="why-us" class="why-us section-bg">

    <div class="texto">
        <h2>Elige el tipo de bebidas que vas a evaluar</h2>
        <p>Ya sea que desarrolles una competencia o concurso y participes como juez, organizador o personal de apoyo, o si
        <br>solo deseas analizar de forma personal tu producto, elige entre las siguientes opciones.
        </p>
    </div>

    <div class="container" data-aos="fade-up">

        <div class="top-row">
            <div class="tipos" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="../../assets/img/Mesa de trabajo 4.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
                <h4>Cerveza</h4>
                <p>Incluye otras bebidas como sidra</p>
              </div>
            </div>

            <div class="tipos" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="../../assets/img/Mesa de trabajo 1.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
                <h4>Vino</h4>
                <p>Vino blanco, tinto, espumosos, etc.</p>
              </div>
            </div>

            <div class="tipos" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="../../assets/img/Mesa de trabajo 2.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            <h4>Destilados</h4>
            <p>Whisky, ron, coñac, tequila, etc.</p>
              </div>
            </div>
      </div>

      <div class="bottom-row">
        <div class="tipos" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/img/Mesa de trabajo 3.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            <h4>Cerveza</h4>
            <p>Incluye otras bebidas como sidra</p>
          </div>
        </div>

        <div class="tipos" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/img/Mesa de trabajo 9.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            <h4>Vino</h4>
            <p>Vino blanco, tinto, espumosos, etc.</p>
          </div>
        </div>

        <div class="tipos" data-aos="fade-up" data-aos-delay="400">
          <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/img/Mesa de trabajo 5.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        <h4>Destilados</h4>
        <p>Whisky, ron, coñac, tequila, etc.</p>
          </div>
        </div>
  </div>

    </div>
  </section>