@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

}
h2{
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #020416;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #020416;
}

.tipos{
  padding-right: 1cm;
  padding-top: 1cm;
}
.why-us .icon-box {
  text-align: center;
  background: #fcfffe;
  padding: 40px 30px;
  border: 2px solid rgb(8, 5, 46);
  border-radius: 80px;
  transition: 0.3s;
}

.why-us .icon-box p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #020416;
}

@media (min-width: 1200px) {
  .why-us .icon-box:hover {
    transform: scale(1.1);
    background-color: rgb(220, 253, 242);
  }
}

img{
  width: 3cm;
}

.texto{
  text-align: center;
  padding-bottom: 2cm;
}
a{
  text-decoration: none;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.top-row,
.bottom-row {
display: flex;
}

