/*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/
.bebida {
    padding: 30px;
    background: var(--color-primary);
    color: #050620;
    align-items: center;
  }
  
  .bebida .bebida h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }

 
  
  .bebida .bebida .more-btn:hover {
    color: var(--color-primary);
    background: #0be6c8;
  }
  
  .bebida .icon-box {
    text-align: center;
    background: #f7f6f6;
    padding: 10px 5px;
    border-radius: 50px ;
    transition: 0.3s;
  }
  

  .bebida .icon-box p {
    font-size: 12px;
    color: #6c757d;
  }
  
  @media (min-width: 1200px) {
    .bebida .icon-box:hover {
      transform: scale(1.1);
    }
  }

  img{
    width: 3cm;
  }

h2{
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
}

.tipos{
    float: left;
    width: calc(20.33% - 10px);
    height: 80px;
    background-color: #ffffff;
    margin: 30px;
}
.contenedor{
    align-items: center;
    padding-left: 60px;
}

.texto{
    text-align: center;
}