<app-barra-superior></app-barra-superior>

<section id="bebida" class="bebida section-bg">
  <div class="container" data-aos="fade-up">
    <div class="texto">
      <h2>Cerveza</h2>
    </div>

    <div class="contendor">
      <div class="tipos" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
          <img src="../../assets/img/Mesa de trabajo 4.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
          <h4>Cerveza</h4>
          <p>Incluye otras bebidas como sidra</p>
        </div>
      </div>
    </div>
  </div>


<div class="container">

    <mat-form-field style="width: 270px;">
      <mat-label></mat-label>
      <p>Titulo</p>      
      <input matInput>
      <p>Estilo</p>
    </mat-form-field>
  
    <mat-form-field>
      
      <mat-label></mat-label>
      
      <select class="seleccion" [(ngModel)]="selectedOption" matNativeControl [disabled]="disableSelect">
        <option *ngFor="let item of lista" [value]="item">{{ item }}</option>
      </select>
    </mat-form-field>
  
    <mat-form-field style="width: 270px;">
      <mat-label></mat-label>
      <p>Información</p>
      <textarea matInput placeholder="Escribe aquí..."></textarea>
    </mat-form-field>
   
</div>
<button routerLink="/evaluacion" class="green-button">Empezar a Catar</button>
  

  
  