<div class="container">
  <form [formGroup]="form" autocomplete="on" (ngSubmit)="saveBillingData()">
    <div class="form first">
      <div class="details personal">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <p>
              Tu información de facturación puede ser diferente de la
              información de perfil de tu cuenta. La información de facturación
              aparece en las facturas.
            </p>
          </div>
        </nav>

        <div class="fields">
          <div class="input-field">
            <label style="font-weight: bold; font-size: 16px">Nombre</label>
            <input
              type="text"
              placeholder="Ingrese Nombre"
              required
              formControlName="nombres"
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>

          <div class="input-field" style="padding-left: 2px">
            <label style="font-weight: bold; font-size: 16px">Apellidos</label>
            <input
              type="text"
              placeholder="Ingrese Apellido"
              formControlName="apellidos"
              required
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>
        </div>

        <div class="fields">
          <div class="input-field">
            <label style="font-weight: bold; font-size: 16px">Empresa</label>
            <input
              type="text"
              placeholder="Ingrese Empresa"
              formControlName="empresa"
              required
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>

          <div class="input-field" style="padding-left: 2px">
            <label style="font-weight: bold; font-size: 16px"
              >Número De Teléfono</label
            >
            <input
              type="text"
              placeholder="Ingrese Teléfono"
              formControlName="telefono"
              required
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>
        </div>

        <div class="fields">
          <div class="input-field">
            <label style="font-weight: bold; font-size: 16px">Dirección</label>
            <input
              type="text"
              placeholder="Ingrese Dirección"
              formControlName="direccion"
              required
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>

          <div class="input-field">
            <label style="font-weight: bold; font-size: 16px">Email</label>
            <input
              type="email"
              placeholder="Ingrese Email"
              formControlName="email"
              required
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>
        </div>

        <div class="fields">
          <div class="input-field">
            <label style="font-weight: bold; font-size: 16px">Ciudad</label>
            <input
              type="text"
              placeholder="Ingrese Ciudad"
              formControlName="cuidad"
              required
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>

          <div class="input-field">
            <label style="font-weight: bold; font-size: 16px"
              >Identificación fiscal o personal</label
            >
            <input
              type="text"
              placeholder="Ingrese ID"
              formControlName="cedula"
              required
              style="
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: 300px;
                border-color: #333;
                border-style: solid;
              "
            />
          </div>
        </div>

        <div
          class="container-fluid"
          style="padding-top: 5px; padding-left: 10px"
        >
          <button
            class="btn fw-bolder text-justify"
            style="background-color: #1ed796; width: 300px; height: 80px"
          >
            Confirmar La Información De Facturación
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #templateSuccessUpLoad>
  <div class="modal-header modal-dialog modal-dialog-centered">
    <h4 class="modal-title pull-left text-success fs-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <strong class="px-4">Información guardada sastifactoriamente.</strong>
    </h4>
  </div>
  <div class="modal-body text-center">
    <span class="fs-4 ">
      Tu información ha sido guardada, será agregara estos datos a la facturación.
    </span>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-success fw-bolder" (click)="onSuccessUpdateData()">
      Okay
    </button>
  </div>
</ng-template>

<ng-template #templateErrorBilling>
    <div class="modal-header modal-dialog modal-dialog-centered">
      <h4 class="modal-title pull-left text-danger fs-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="red" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        <strong class="px-4">Ocurrió un error.</strong>
      </h4>
    </div>
    <div class="modal-body text-center">
      <span class="fs-4 ">
        Intenta subir la información mas tarde. :(
      </span>
    </div>
    <div class="modal-footer text-center">
      <button type="button" class="btn btn-danger fw-bolder" (click)="modalRef?.hide()">
        Cerrar
      </button>
    </div>
</ng-template>
