<div class="container-wrapper">
    <section class="sensacion">
        <h2>Sensación en boca</h2>

        <div class="cuerpo">
            <h1>Cuerpo</h1>
            <div class="image">
                <img [src]="currentImageCuerpo" alt="Imagen">
            </div>
            <div class="textos">
                <p class="text bajo" (click)="cambiarImagenCuerpo('../../assets/img/grafica/bajo.jpeg')">Delgado</p>
                <p class="text medio" (click)="cambiarImagenCuerpo('../../assets/img/grafica/medio.jpeg')">Medio</p>
                <p class="text alto" (click)="cambiarImagenCuerpo('../../assets/img/grafica/alto.jpeg')">Lleno</p>
                <label>
                    <input type="checkbox" [checked]="valorInapropiadoCuerpo" (change)="checkboxChangedCuerpo($event)"> Inapropiado
                </label>
            </div>
        </div>

        <div class="carbonatacion">
            <h1>Carbonatación</h1>
            <div class="image">
                <img [src]="currentImageCarbonatacion" alt="Imagen">
            </div>
            <div class="textos">
                <p class="text bajo" (click)="cambiarImagenCarbonatacion('../../assets/img/grafica/bajo.jpeg')">Bajo</p>
                <p class="text medio" (click)="cambiarImagenCarbonatacion('../../assets/img/grafica/medio.jpeg')">Medio</p>
                <p class="text alto" (click)="cambiarImagenCarbonatacion('../../assets/img/grafica/alto.jpeg')">Alto</p>
                <label>
                    <input type="checkbox" [checked]="valorInapropiadoCarbonatacion" (change)="checkboxChangedCarbonatacion($event)"> Inapropiado
                </label>
            </div>
        </div>

        <div class="calentamiento">
            <h1>Calentamiento</h1>
            <div class="image">
                <img [src]="currentImageCalentamiento" alt="Imagen">
            </div>
            <div class="textos">
                <p class="text bajo" (click)="cambiarImagenCalentamiento('../../assets/img/grafica/bajo.jpeg')">Bajo</p>
                <p class="text medio" (click)="cambiarImagenCalentamiento('../../assets/img/grafica/medio.jpeg')">Medio</p>
                <p class="text alto" (click)="cambiarImagenCalentamiento('../../assets/img/grafica/alto.jpeg')">Alto</p>
                <label>
                    <input type="checkbox" [checked]="valorInapropiadoCalentamiento" (change)="checkboxChangedCalentamiento($event)"> Inapropiado
                </label>
            </div>
        </div>

        <div class="cremosidad">
            <h1>Cremosidad</h1>
            <div class="image">
                <img [src]="currentImageCremosidad" alt="Imagen">
            </div>
            <div class="textos">
                <p class="text bajo" (click)="cambiarImagenCremosidad('../../assets/img/grafica/bajo.jpeg')">Bajo</p>
                <p class="text medio" (click)="cambiarImagenCremosidad('../../assets/img/grafica/medio.jpeg')">Medio</p>
                <p class="text alto" (click)="cambiarImagenCremosidad('../../assets/img/grafica/alto.jpeg')">Alto</p>
                <label>
                    <input type="checkbox" [checked]="valorInapropiadoCremosidad" (change)="checkboxChangedCremosidad($event)"> Inapropiado
                </label>
            </div>
        </div>

        <div class="astringencia">
            <h1>Astringencia</h1>
            <div class="image">
                <img [src]="currentImageAstringencia" alt="Imagen">
            </div>
            <div class="textos">
                <p class="text bajo" (click)="cambiarImagenAstringencia('../../assets/img/grafica/bajo.jpeg')">Bajo</p>
                <p class="text medio" (click)="cambiarImagenAstringencia('../../assets/img/grafica/medio.jpeg')">Medio</p>
                <p class="text alto" (click)="cambiarImagenAstringencia('../../assets/img/grafica/alto.jpeg')">Alto</p>
                <label>
                    <input type="checkbox" [checked]="valorInapropiadoAstringencia" (change)="checkboxChangedAstringencia($event)"> Inapropiado
                </label>
            </div>
        </div>

        <div class="sum-box">
            <div class="top-row">
            <h3>Descripción</h3>
            <h3>Calificación</h3>
            </div>
            <div class="bottom-row">
            <input type="text" placeholder="Escribe aquí" class="descripcion">
            <div class="suma">{{ sumarSeleccionesSensacion() }}</div>
            </div>
        </div>

        <button  routerLink="/fallas" class="green-button">Siguiente sección</button>
    </section>
</div>