<div class="container">
  <form class="d-flex flex-column h-100">
    <div class="form first">
      <div class="details personal">
        <nav
          class="navbar bg-body-tertiary"
          style="
            background-color: rgb(213, 215, 219);
            border-radius: 10px;
            width: 1060px;
            border-color: #333;
            border-style: solid;
            border-width: 1px;
          "
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-weight: bold"
              >Plataforma De Solinal</a
            >
          </div>
        </nav>
        <div class="row my-2 p-3">
          <h4 class="fw-bolder fs-4">Plan {{typePlan}}</h4>
        </div>
        <div class="fields">
          <div class="input-field" style="display: flex; flex-direction: row">
            <!-- <img
              src="/assets/Img/Plan Emprendedor.jpeg"
              alt=""
              style="width: 700px; height: 300px"
            /> -->
            
            <div class="container_grid">
              <ul class="d-flex justify-content-between" *ngFor="let data of planData">
                <li class="bottom-bar">
                  <img [src]=" data.isActive ? '/assets/Img/Recurso 2092.png': '/assets/Img/Recurso 2100.png' " alt="Icono Plan" style="width: 20px; height: 20px" />&nbsp;
                  &nbsp; {{data.name}}
                </li>
              </ul>
            </div>
          </div>

          <div class="input-field" style="padding-left: 2px">
            <button
              style="
                background-color: #1ed796;
                width: 200px;
                height: 70px;
                margin-left: 20px;
                font-size: 20px;
              "
              (click)="elegirPlan()"
            >
              {{ typePlan === "GRATIS" ? "Elegir Plan" : "Cambiar de Plan"}}
            </button>
          </div>
        </div>
        <div class="row text-center">
          <p>Ver todas las funcionalidades</p>
        </div>
      </div>
    </div>

    <div class="form first" style="margin-top: 500px;">
      <nav
        class="navbar bg-body-tertiary"
        style="
          background-color: rgb(213, 215, 219);
          border-radius: 10px;
          width: 1060px;
          border-color: #333;
          border-style: solid;
          border-width: 1px;
        "
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bold"
            >Próxima Factura</a
          >
        </div>
      </nav>

      <div class="fields" style="padding-right: 120px">
        <div class="input-field" style="display: flex; flex-direction: row">
          <img
            src="/assets/Img/Factura.png"
            alt=""
            style="width: 150px; height: 150px; margin-left: 20px"
          />
        </div>

        <div class="input-field">
          <p style="font-size: 20px">{{message}}</p>
        </div>
      </div>
    </div>
  </form>
</div>
