body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #051E46;
}

.input-format{
    background-color: white;
    padding: 0.60rem;
    width: 19rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.inputs-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

}

.button-format{

    background-color: #1ED796;
    width: 19rem;
}

.button-format:disabled{
    background-color: #80d6b6;
    color: whitesmoke;
}

.button-format:hover:not([disabled]){
    background-color:#008A70 ;

}

a{
    color: white;
    text-decoration: none;
    margin-top: 3rem;
    font-weight: bolder;
}

a:hover{
    color: #1ED796;
}

.links-box-format {
    color: #1ED796;

}

.links-box-format:hover{

    color: #008A70;
    cursor: pointer;
}
