<body>

    <form [formGroup]="resetForm"  autocomplete="off"  (ngSubmit)="resetPassword(resetForm)" class="formulario"  *ngIf="!ventana_confirmacion">
        <div>
            <img src="/assets/Img/Recurso 2890.png" alt="">
        </div>

        <h3 style="color:white; font-weight: bolder; font-size: 0.75rem;">Introduzca su correo electrónico para restablecer su contraseña </h3>

        <div class="inputs-div">

            <div >
                <input matInput type="email" name="email" formControlName="email" placeholder="Direccion de email" class="input-format">
            </div>
        </div>
        <p *ngIf="error.err != null" style="color:red">{{error.err}}</p>
        <div>
            <button mat-raised-button color="primary" type="submit" ngClick="Submit" [disabled]="!resetForm.valid" class="button-format">Enviar</button>
        </div>

    </form>

    <a routerLink="/login/">Regresar.</a>


    <div *ngIf="ventana_confirmacion" class="formulario">
        <div>
            <img src="/assets/Img/Recurso 2890.png" alt="">
        </div>

        <h3 style="color:white; font-weight: bolder; font-size: 0.75rem; width: 20rem;">Las instrucciones para restablecer su contraseña se han
            enviado a la dirección de email ingresado. <p (click)="refresh()" class="links-box-format">Regresar.</p> </h3>

    </div>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"> </script>
<script type="text/javascript">
   (function(){
      emailjs.init("service_i7ogkjb");
   })();
</script>

</body>


