<div class="container">
    <app-barra-superior></app-barra-superior>


<mat-card class="custom-card1">
    <mat-card-content>
     
      <div class="categories1">
        <div class="title">titulo</div>
        <div class="title">Descripcion</div>
 
      </div>
    </mat-card-content>
  </mat-card>
  

<mat-card class="custom-card">
    <mat-card-content>
     
      <div class="categories">
        <div class="title">Mi Nota</div>
        <div class="category">
          <div class="category-title">Aroma</div>
          <div class="category-number">6</div>
        </div>
        <div class="category">
          <div class="category-title">Apariencia</div>
          <div class="category-number">7</div>
        </div>
        <div class="category">
          <div class="category-title">Sabor</div>
          <div class="category-number">8</div>
        </div>
        <div class="category">
          <div class="category-title">Sensación de Boca</div>
          <div class="category-number">9</div>
        </div>
        <div class="category">
          <div class="category-title">General</div>
         
          <div class="category-number">10</div>
          
        </div>
        <button class="edit-button">Editar</button>
      </div>
    </mat-card-content>
    
  </mat-card>
 
  <mat-card class="aroma-card">
  
    <mat-card-content>
        <div class="aroma-container">
            <div class="aroma-title">Aroma</div>
            <div class="aroma-number">6/12</div>
        </div>
    </mat-card-content>
</mat-card>
  
</div>
