/* Estilos personalizados para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    /* align-items: center; Centrar horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    margin: 0 200px; /* Márgenes izquierdo y derecho de 20px */

  }
  
  /* Estilos personalizados para la tarjeta .custom-card */
  .custom-card {
    background-color: rgb(183, 253, 230); /* Fondo verde claro */
    width: 600px; /* Ancho de la tarjeta */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(183, 253, 230); /* Sombra */
    margin-bottom: 20px; /* Espacio inferior */
    margin-left: 300px;
  }
  
  /* Estilos personalizados para la tarjeta .custom-card1 */
  .custom-card1 {
    background-color: lightgrey; /* Fondo gris claro */
    width: 600px; /* Ancho de la tarjeta */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-left: 300px;
    display: flex;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
  }
  
  /* Estilos para el título */
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para las categorías dentro de .categories */
  .categories {
    display: flex; /* Mostrar las categorías en una fila */
    gap: 10px; /* Espaciado entre las categorías */
  }
  
  /* Estilos para los subtítulos de las categorías */
  .subtitle {
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Estilos para los números debajo de las categorías */
  .category-number {
    font-size: 18px;
    text-align: center; /* Centrar el número */
    flex-basis: 20px; /* Ancho mínimo para los números */
  }
  .edit-button {
    background-color: lightgrey; /* Color gris super claro */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }  

  /* aroma(aqui varialuego) */
  .aroma-card {
    /* Fondo gris claro */
    width: auto; /* Ancho de la tarjeta */
    height: auto;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-left: 100px;
}

/* Estilos para el contenedor de Aroma */
.aroma-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Estilos para el título Aroma */
.aroma-title {
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para el número Aroma */
.aroma-number {
    background-color: lightgrey;
    font-size: 24px;
}

/* Estilos para colorear el número */
.number-color {
    background-color: rgba(200, 200, 200, 0.2); /* Color gris super claro */
    padding: 5px 10px;
    border-radius: 4px;
}

img{
  width: 6cm;
  height: 6cm;
}

.malta, .lupulos, .fermentacion {
  padding-right:2cm;
  padding-left:2cm;
  position: relative;
  display: inline-block;
}
.claridad, .formacion, .retencion, .color, .colorEspuma{
  padding-right:2cm;
  padding-left:2cm;
  position: relative;
  display: inline-block;
}
.cuerpo, .carbonatacion, .calentamiento, .cremosidad, .astringencia{
  padding-right:2cm;
  padding-left:2cm;
  position: relative;
  display: inline-block;
}
.malta, .lupulos, .fermentacion, .amargor, .equilibrio, .retrogusto{
  padding-right:2cm;
  padding-left:2cm;
  position: relative;
  display: inline-block;
}
h1, input, label, h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.text{
  font-family: 'Poppins', sans-serif;
  position: absolute;
}

.text.bajo {
  top: 5.5cm;
  left: 1cm;
}

.text.medio {
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0.5cm;
}

.text.alto {
  left: 8cm;
  top: 5.5cm;
}

.text.nulo {
  left: 45%;
  top: 7.5cm;
}

.textos{
  padding-left: 1.2cm;
}
.text.ambar {
  top: 7cm;
  left: 1.5cm;
}

.text.oro {
  top: 4.5cm;
  left: 1cm;
}

.text.amarillo {
  top: 22%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding-top: 0.5cm;
}

.text.negro {
  left: 7cm;
  top: 2cm;
}

.text.marron {
  left: 8cm;
  top: 4.5cm;
}

  
.text.cobre {
  left: 7cm;
  top: 7cm;
}

.otras{
  display: flex;
  justify-content: center;
  align-items: center;
}
