<div class="container">
    <app-barra-superior></app-barra-superior>


<mat-card class="custom-card1">
    <mat-card-content>
     
      <div class="categories1">
        <div class="title">{{titulo}}</div>
        <div class="title">{{estilo}}</div>
 
      </div>
    </mat-card-content>
  </mat-card>
  

<mat-card class="custom-card">
    <mat-card-content>
     
      <div class="categories">
        <div class="title">Mi Nota</div>
        <div class="category">
          <div class="category-title">Aroma</div>
          <div class="category-number">{{valorAroma}}</div>
        </div>
        <div class="category">
          <div class="category-title">Apariencia</div>
          <div class="category-number">{{valorApariencia}}</div>
        </div>
        <div class="category">
          <div class="category-title">Sabor</div>
          <div class="category-number">{{valorSabor}}</div>
        </div>
        <div class="category">
          <div class="category-title">Sensación de Boca</div>
          <div class="category-number">{{valorSensacion}}</div>
        </div>
        <div class="category">
          <div class="category-title">General</div>
         
          <div class="category-number">{{valorGeneral}}</div>
          
        </div>
        <button (click)="volverEvaluar()" class="edit-button">Editar</button>
      </div>
    </mat-card-content>
    
  </mat-card>
 
  <mat-card class="aroma-card">
    <mat-card-content>
      <div class="aroma-container">
        <div class="aroma-title">Aroma</div>
        <div class="aroma-number">{{valorAroma}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-aroma></app-aroma>

  <mat-card class="aroma-card">
    <mat-card-content>
      <div class="aroma-container">
        <div class="aroma-title">Apariencia</div>
        <div class="aroma-number">{{valorApariencia}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-apariencia></app-apariencia>

  <mat-card class="aroma-card">
    <mat-card-content>
      <div class="aroma-container">
        <div class="aroma-title">Sabor</div>
        <div class="aroma-number">{{valorSabor}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-sabor></app-sabor>

  <mat-card class="aroma-card">
    <mat-card-content>
      <div class="aroma-container">
        <div class="aroma-title">Sensacion en boca</div>
        <div class="aroma-number">{{valorSensacion}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-sensacion></app-sensacion>

</div>
