<body>
    <form [formGroup]="verificationCodeForm"  autocomplete="off" (ngSubmit)="resetPassword(verificationCodeForm)" class="formulario" >
        <div class="inputs-div" style="justify-content: center; padding-left:20px; align-items:center; padding-bottom:10px">
            <img src="/assets/Img/Recurso 2890.png" alt="" style="width:230px; height:90px">
            <img src="/assets/Img/verificar.png" alt="" style="margin-bottom: 15px; width:100px; height:100px">
            <label style="font-weight: bold; font-size:14px; color:rgb(204, 204, 204)">Hemos detectado un nuevo inicio de sesión.
              Enviamos un correo electrónico a {{u.email}}
              con un código para comprobar tu identicad.</label>
        </div>

        <div class="inputs-div" style="margin-right: 40px;">

          <div class="fields">

            <div class="inputs-div" style="padding-bottom:1px;">
              <label style="font-weight: bold; font-size:18px; color:white;">Ingresar código de verificación</label>
            </div>

            <div class="input-field">
                <input type="text" name="codigo" formControlName="codigo" placeholder="Codigo Verificación" required style="background-color:rgb(255, 255, 255);
                border-radius:10px; width:350px; border-color: #ffffff; border-style: solid; justify-content:baseline; margin-left:20px">
            </div>
            <!--
            <div class="input-field">
              <label style="font-weight: bold; font-size:12px; color:rgb(204, 204, 204)">Este código caduca en 30 minutos</label>
              <a href="" style="color:#1ED796; font-size:12px">Reenviar código</a>
            </div>-->

            <div class="inputs-div" style="justify-content: center; padding-left:10px; align-items:center; padding-bottom:15px">
              <!--<label style="font-weight: bold; font-size:16px; color:rgb(204, 204, 204)">Este código caduca en 30 minutos</label>-->\
              <p *ngIf="error.err != null" style="color:red">{{error.err}}</p>
              <a href="" style="color:#1ED796; font-size:16px">Reenviar código</a>
            </div>

            <div style="display: flex; align-items: center; padding-bottom:1px" >
              <button mat-raised-button color="primary" type="submit"  ngClick="Submit" [disabled]="!verificationCodeForm.valid" class="button-format"
              style="width: 100px; height:40px; font-size: 16px; margin-left:90px">Cancelar</button>
              <button mat-raised-button color="primary" type="submit"  ngClick="Submit" [disabled]="!verificationCodeForm.valid" class="button-format"
              style="margin-left:20px; width: 100px; height:40px; font-size: 16px">Verificar</button>
            </div>
          </div>

        </div>

        <div class="links-box-format" style="display: flex; flex-direction:row">
          <img src="/assets/Img/flecha 1.png" alt="" style="width:12px; height:12px; padding-right:4px">
          <a routerLink="/login/" >Volver</a>
        </div>


    </form>


  </body>
