@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.image-container {
    display: flex;
    background-color: rgb(219, 219, 219);
    border-radius: 40px;
  }
  
  .image-wrapper {
    width: 7%; /* Para obtener 3 imágenes por fila, puedes ajustar este valor según tus necesidades */
    padding: 10px;
    text-align: center;
    padding-left: 2cm;
  }
  
.container {
  width: 750px; /* O ajusta un ancho específico si lo deseas */
  padding: 10px; /* Ajusta el espacio interior si es necesario */
}

.image-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px; /* Espacio interno de cada botón */
  transition: background-color 0.3s; /* Transición para oscurecer al hacer clic */
}

.image-wrapper a {
  text-decoration: none;
  color: inherit;
}

.image-wrapper:hover {
  background-color: #d5d5d5; /* Color de fondo al pasar el mouse */
}

.image-wrapper img {
  max-width: 100%;
  margin-bottom: 5px;
}



  
@media (min-width: 1200px) {
    .image-wrapper:hover{
      background-color: rgb(224, 230, 228);
      border-radius: 20px;
    }
  }
  

  a{
    text-decoration: none;
  }