<!--<div class="home">
  <div class="home-format">
    <h1 class="title" style ="text-transform:capitalize;">Bienvenido {{u.nombre}}</h1>
    <carousel [isAnimated]="true">
      <slide class="slide-format ">
        <img src="/assets/Img/img 1.jpg" alt="first slide" class="image-format">
      </slide>
      <slide class="slide-format">
        <img src="/assets/Img/img 2.jpg" alt="second slide" class="image-format">
      </slide>
      <slide class="slide-format">
        <img src="/assets/Img/img 3.jpg" alt="third slide" class="image-format">
      </slide>
    </carousel>
    <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="iniciarRecorrido()"
          class="button-format"
        >
          Iniciar Recorrido
        </button>
  </div>
</div>-->

<div >
  <section class="description">
    <!-- div gauche -->
    <div class="left">
        <h1>
            <span>HOLA </span>
            <span>BIENVENIDO </span>
            <span>A</span>
        </h1>
        <br>
        <h1>
          <span> </span>
          <span> SOLINAL</span>
          <span style="text-transform: uppercase;"> {{u.nombre}}</span>
      </h1>
        <p>Te presentamos nuestra potente plataforma de educación en línea donde podrás estudiar
            y aprender cuando quieras, las veces que quieras !.
        </p>
        <a (click)="iniciarRecorrido()" class="buy_now_link" style="font-weight: bold;">Empezar Recorrido</a>
    </div>
    <!-- div droite -->
    <div class="right">
          <img src="/assets/Img/solinal3.png" class="image_bird" style="width: 800px; height:400px">
    </div>
  </section>
</div>
