<body>
  <header>
    <section class="presentation first">
      <div class="product-presentation">
        <div>
          <h1 style="font-weight: bold;">RECUERDA QUE:</h1>
        </div>

        <p style="text-align: justify; line-height:30px;">
          En Solinal, la seguridad alimentaria es nuestra pasión y queremos transmitirla
          a su organización y equipo humano. Por esta razón, Brindamos soluciones globales
          que están a la vanguardia de la más alta tecnología para que su negocio tenga éxito.
        </p>
        <button style="font-weight:bold; color:white; background-color:#1ED796" (click)="logOut()">Cerrar
          Sesión</button>
        <div class="small-images">
          <h5 style="color:#1ED796; font-weight:bold">NUESTRO PERSONAL ALTAMENTE CAPACITADO</h5>
          <div class="small">
            <img src="/assets/Img/lenin.jpg"
              style="border-radius: 10px; border-width:1px; color:#1ED796; border:solid; width:150px; height:150px" />
          </div>
          <div class="small">
            <img src="/assets/Img/diana.jpg"
            style="border-radius: 10px; border-width:1px; color:#1ED796; border:solid; width:150px; height:150px" />
          </div>
          <div class="small">
            <img src="/assets/Img/melanie.jpg"
            style="border-radius: 10px; border-width:1px; color:#1ED796; border:solid; width:150px; height:150px"  />
          </div>
        </div>
      </div>
      <div class="image-presentation">
        <img src="/assets/Img/solinal4.png" style="width: 500px; height:500px" />
      </div>
    </section>
  </header>

</body>
