<body>
    <form [formGroup]="newpassform" (ngSubmit)="resetPassword(newpassform)" autocomplete="off" class="formulario" >
        <div class="inputs-div" style="justify-content: center; padding-left:20px; align-items:center; padding-bottom:10px">
            <img src="/assets/Img/Recurso 2890.png" alt="" style="width:230px; height:90px">
            <img src="/assets/Img/new-password 2.png" alt="" style="margin-bottom: 12px; width:130px; height:130px">
        </div>
  
        <div class="inputs-div" style="margin-right: 40px; align-items:center; justify-content:center; padding-left:50px">
  
          <div class="fields">
  
            <div class="inputs-div" style="padding-bottom:1px;">
              <label style="font-weight: bold; font-size:18px; color:white;">Introduzca su nueva contraseña a continuación:</label>
            </div>
  
            <div class="input-field" style="display: flex; flex-direction:row;">
                <input type="password" name="newpass" formControlName="newpass" placeholder="Nueva Contraseña" required style="background-color:rgb(255, 255, 255);
                border-radius:10px; width:300px; border-color: #ffffff; border-style: solid; justify-content:baseline">
                <mat-icon style="color:white; padding-top:16px; padding-left:5px" (click)="flag=!flag" matSuffix>{{ flag ? 'visibility' : 'visibility_off' }}</mat-icon>
            </div>
  
            <div class="inputs-div" style="padding-bottom:15px">
              <label style="font-weight: bold; font-size:16px; color:rgb(204, 204, 204)">Requisitos para la nueva contraseña:</label>
              <ul style="color:white">
                <li>- Mínimo 10 caracteres</li>
                <li>- Al menos 1 mayúscula</li>
                <li>- Al menos un caracter especial</li>
              </ul>
            </div>
  
            <div style="display: flex; align-items: center; padding-bottom:1px" >
              <button mat-raised-button color="primary" type="submit"  ngClick="Submit" [disabled]="!newpassform.valid" class="button-format"
              style="width: 100px; height:40px; font-size: 16px">Enviar</button>
            </div>
          </div>
  
        </div>
  
        <div class="links-box-format" style="display: flex; flex-direction:row">
          <img src="/assets/Img/flecha 1.png" alt="" style="width:12px; height:12px; padding-right:4px">
          <a routerLink="/login/" >Volver</a>
        </div>
  
  
    </form>
  
  
  </body>