<!-- <div id="esquina-superior"> <span> Cata de Prueba: {{ titulo }}</span> </div> 
<div id="esquina-superior"><span> Estilos de Prueba {{ estilo }} </span> </div>
<div id="esquina-superior"><span>Descripcion: {{informacion}}</span></div>
<div> -->
<!-- <div>
    <h3>Cata de Prueba:{{ estilo }}<h3>
    <h3>Estilo: {{informacion}}<h3>
    <div *ngIf="informacion">

    </div>

   -->
   <div>
    <!-- <h3>Cata de Prueba:{{ titulo }}</h3>
    <p>Descripcion{{ informacion }}</p> -->
 <h3>Cata de Prueba: </h3><p>{{ titulo }}</p>
 <h3>Estilos de Prueba  </h3><p>{{ estilo }}</p>
 <h3>Descripcion: </h3><p>{{informacion}}</p>
<div>
    <div *ngIf="informacion">
      <h4>Información:</h4>
      <select class="narrow-select" [(ngModel)]="selectedOption" (ngModelChange)="onOptionSelect()">
        <option *ngFor="let item of data1; let i = index" [value]="item">
          {{ item }}
        </option>
      </select>
      <div *ngIf="descripcionSeleccionada">
        <p>Informacion de cerveza que no esta siendo evaluada</p>
        <h4>Descripción:</h4>
        <p>{{ descripcionSeleccionada }}</p>
      </div>
    </div>
  </div>
  
  <!-- <mat-form-field>
    <mat-label>Estilos</mat-label>
    <mat-select>
        
      <mat-option *ngFor="let item of data1; let i = index" [value]="item">{{ item }}</mat-option>
     
    </mat-select>
    <div *ngIf="descripcionSeleccionada">
        <p>Informacion de cerveza que no esta siendo evaluada</p>
        <h4>Descripción:</h4>
        <p>{{ descripcionSeleccionada }}</p>
      </div>
  </mat-form-field> -->