/* styles.css (o styles.scss) */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.esquina-superior {
    position: fixed;
    top: 10%;
    left: 3%;
    padding: 50px;    
    color: #333;
    font-size: 18px;  
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  #esquina-superior p {
    max-width: 200px; /* Ajusta el valor según lo que necesites */
 /* Agrega puntos suspensivos al final del texto que desborde */
  }
  img{
    width: 30px;
  }
  .estilo-seleccion {
    display: flex;
    align-items: center;
  }
  
  
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
  }
  span {
   
    padding: 10px;    
    color: #333;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
    
  }


/* Ajustar la posición del desplegable debajo de la imagen */
.imagen-estilo {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.narrow-select {
  position: absolute;
  top: 100%; /* Colocar debajo de la imagen */
  left: 0;
  z-index: 1; /* Asegura que el desplegable esté por encima del contenido */
  width: 200px; /* Ajusta el ancho según lo que necesites */
}
