
<app-barra-superior></app-barra-superior>

<section class="content-section">
    <div class="text-block">
        <h2 data-aos="fade-up">Crea tu primera <br>Evaluación sensorial</h2>
        <p data-aos="fade-up" data-aos-delay="100">Aquí podrás crear perfiles organoléticos para alimentos y bebidas.
            Obten informes estadísticos que te ayudaran a decidir si tu producto está listo para ser lanzado al mercado.
        </p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a routerLink="/tipoBebida" class="btn-book-a-table">Empezar ahora</a>
        </div>
    </div>
    <div class="image-principal">
        <img src="../../assets/img/grafico.PNG" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
    </div>
</section>


    