<div class="container-wrapper">

<section class="aroma">

    <div class="malta">
        <h1>Malta</h1>
        <div class="image">
            <img [src]="currentImageMalta" alt="Imagen">
        </div>
        <div class="textos">
            <p class="text bajo" (click)="cambiarImagenMalta('../../assets/img/bajo.jpeg')">Bajo</p>
            <p class="text medio" (click)="cambiarImagenMalta('../../assets/img/medio.jpeg')">Medio</p>
            <p class="text alto" (click)="cambiarImagenMalta('../../assets/img/alto.jpeg')">Alto</p>
            <label>
                <input type="checkbox" [checked]="valorInapropiadoMalta" (change)="checkboxChangedMalta($event)"> Inapropiado
            </label>

        </div>
    </div>

    <div class="lupulos">
        <h1>Lúpulos</h1>
        <div class="image">
            <img [src]="currentImageLupulos" alt="Imagen">
        </div>
        <div class="textos">
            <p class="text bajo" (click)="cambiarImagenLupulos('../../assets/img/bajo.jpeg')">Bajo</p>
            <p class="text medio" (click)="cambiarImagenLupulos('../../assets/img/medio.jpeg')">Medio</p>
            <p class="text alto" (click)="cambiarImagenLupulos('../../assets/img/alto.jpeg')">Alto</p>
            <label>
                <input type="checkbox" [checked]="valorInapropiadoLupulo" (change)="checkboxChangedLupulo($event)"> Inapropiado
            </label>
        </div>
    </div>

    <div class="fermentacion">
        <h1>Fermentación</h1>
        <div class="image">
            <img [src]="currentImageFermen" alt="Imagen">
        </div>
        <div class="textos">
            <p class="text bajo" (click)="cambiarImagenFermen('../../assets/img/bajo.jpeg')">Bajo</p>
            <p class="text medio" (click)="cambiarImagenFermen('../../assets/img/medio.jpeg')">Medio</p>
            <p class="text alto" (click)="cambiarImagenFermen('../../assets/img/alto.jpeg')">Alto</p>
            <label>
                <input type="checkbox" [checked]="valorInapropiadoFerme" (change)="checkboxChangedFerme($event)"> Inapropiado
            </label>
        </div>
    </div>

    <div class="sum-box">
        <div class="top-row">
          <h3>Descripción</h3>
          <h3>Calificación</h3>
        </div>
        <div class="bottom-row">
          <input type="text" placeholder="Escribe aquí" class="descripcion">
          <div class="suma">{{ sumarSelecciones() }}</div>
        </div>
      </div>
</section>

</div>