.container {
  width: 50vh;
  height: 50vh;
  background-image: url('/assets/Img/audita/Audita_grises.png');
  background-size: cover;
  transition: background-image 0.5s ease-in-out; /* Agregamos transición para suavizar el cambio de imagen */
}

.container:hover{
  background-image: url('/assets/Img/audita/Audita_color.png');
}

