
.body{
  width: 1778px;
  background-color: #f1f1f1;
  height: 840px;
}

.container {
  display: flex;
  width: 1500vh;
  height: 100.82vh; /* establece la altura del contenedor a la altura de la ventana gráfica */
  margin: -12px;
  background-color:#f1f1f1;

}

.left-column {
  background-color: #051E46; /* color de fondo de la columna izquierda */
  /*width: 32%;*/
  width: 1900px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  padding-top: 12rem;

}

.right-column {
  background-color: #f1f1f1;
  /*width: 70%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*overflow-y: scroll;*/
}

.formulario{
  margin-top: 100lvh;
  margin-left: 10dvh;
}

.contenedor {
display: grid;
grid-template-areas: '. . .'
                     '. . .'
                     '. componente .'
                     '. . .';
/* Ajusta el tamaño del contenedor según sea necesario */
}

.componente {
grid-area: componente;
}

.example-card {
max-width: 22rem;
height: 250px;
margin: 1rem;
border-radius: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.mat-card-format{
display: flex;
flex-wrap: wrap;
margin-left: 13vh;
}

h2{
margin: 0.1rem;
font-weight: bolder;
text-align: center;
padding: 1rem;
font-size: 2.1rem;
}

h3{
margin-left: 1rem;
padding: 0.1rem;
text-align: center;
font-size: 18px;
}

.button-format{

background-color: #1ED796;
width: min-content;
}

.button-format:disabled{
background-color: #80d6b6;
color: whitesmoke;
}

.button-format:hover:not([disabled]){
background-color:#008A70 ;

}
