<div class="image-container">
    <div class="image-wrapper">
      <img src="../../assets/img/Group 160.png" alt="Imagen 1">
      <div class="image-text">Aroma</div>
    </div>
    <div class="image-wrapper">
      <img src="../../assets/img/Group 162.png" alt="Imagen 2">
      <div class="image-text">Apariencia</div>
    </div>
    <div class="image-wrapper">
        <img src="../../assets/img/Group 161.png" alt="Imagen 1">
        <div class="image-text">sabor</div>
      </div>
      <div class="image-wrapper">
        <img src="../../assets/img/Group 163.png" alt="Imagen 2">
        <div class="image-text">Sensación</div>
      </div>
      <div class="image-wrapper">
        <img src="../../assets/img/Icon material-error.png" alt="Imagen 1">
        <div class="image-text">Fallas</div>
      </div>
      <div class="image-wrapper">
        <img src="../../assets/img/Exclusion 1.png" alt="Imagen 2">
        <div class="image-text">General</div>
      </div>
  </div>