<div class="forAll justify-content-center align-items-center my-4">
    <form class="d-flex gap-5">
        <div class="col-4">
            <h3 class="fs-1 fw-bolder">Pagar</h3>
            <div class="row">
                <div class="col">
                    <h4>Información de facturación</h4>
                    <button type="button" class="btn btn-success" (click)="toGoTab(2)">Modificar</button>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            {{dataUser.nombres}} {{dataUser.apellidos}}
                        </li>
                        <li>
                            {{dataUser.empresa}}
                        </li>
                        <li>
                            {{dataUser.direccion}}
                        </li>
                        <li>
                            {{dataUser.correo}}
                        </li>
                        <li>
                            ID {{dataUser.cedula}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid border border-dark rounded mt-2">
                Estamos agregando el formulario.
            </div>
        </div>
        <div class="col-4 d-flex flex-column p-5 gap-3 border border-dark rounded">
            <h3 class="fs-1 fw-bolder">Resumen de compra</h3>
            <div class="my-3">
                <div class="d-flex justify-content-between fs-4">
                    <p>
                        Plataforma de Solinal
                    </p>
                    <p class="fw-bolder">
                        {{price | currency}} USD/{{typeSub === "month" ? "mes": "año"}}
                    </p>
                </div>
                <div>
                    Plan {{typePlan | titlecase}}
                </div>
            </div>
            <a class="fw-bolder">Agregar un código promocional</a>
            <hr>
            <div class="d-flex my-3 justify-content-between">
                <span>Subtotal</span>
                <span class="fw-bolder">
                    {{price | currency}} USD/{{typeSub === "month" ? "mes": "año"}}
                </span>
            </div>
            <hr>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="confirmationPandP">
                <label class="form-check-label" for="confirmationPandP">
                    Acepto las <strong>Condiciones del Servicio y la Política de Privacidad</strong>
                </label>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success" (click)="onPay()">Pagar ${{price}} Ahora</button>
            </div>
        </div>
    </form>
</div>