<app-barra-superior></app-barra-superior>


<div class="container">
    <div class="titulo">
        <app-titulo-flotante style="margin-left: 100px;"></app-titulo-flotante>
    </div>

    <div class="categorias">
        <app-menu-categorias (messageEvent)="receiveMessage($event)" style="margin-right: 100px;"></app-menu-categorias>
    </div>
</div>

<div>
    <app-aroma *ngIf="seccionActual === 'aroma'"></app-aroma>
    <app-apariencia *ngIf="seccionActual === 'apariencia'"></app-apariencia>
    <app-sabor *ngIf="seccionActual === 'sabor'"></app-sabor>
    <app-sensacion *ngIf="seccionActual === 'sensacion'"></app-sensacion>
    <app-fallas-vista *ngIf="seccionActual === 'fallas'"></app-fallas-vista>
    <app-radar-chart *ngIf="seccionActual === 'general'"></app-radar-chart>
  </div>

  <button (click)="siguienteSeccion()" class="botonCambiar">Siguiente Sección</button>

