
.container {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    gap: 100px;
  }
  .titulo{
    padding-left: 100px;
    padding-right: 60px ;
  }
  /* titulo-flotante.component.css */
.narrow-select {
  width: 100px; 
}
.botones{
  margin: auto;
  gap: 100px;
}

.botonCambiar {
  position: absolute;
  right: 10px;
  background-color: rgb(84, 206, 159);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  
}