<body style="margin-bottom: 10vh;">

  <form [formGroup]="registerForm"  autocomplete="off"  (ngSubmit)="signUp(registerForm)" class="formulario"  *ngIf="!ventana_confirmacion">
      <div>
          <img src="/assets/Img/Recurso 2890.png" alt="">
      </div>

      <h2 style="color:white; font-weight: bolder; font-size: 22px;">Registrar Usuario </h2>

      <div class="inputs-div">

          <div >

              <input matInput type="text" name="name" formControlName="name" placeholder="Ingrese Nombre" class="input-format">
          </div>

          <div >
            <input matInput type="text" name="lastname" formControlName="lastname" placeholder="Ingrese Apellido" class="input-format">
          </div>

          <div >
            <input matInput type="email" name="email" formControlName="email" placeholder="Direccion de email" class="input-format">
          </div>
          
          <div >
            <input matInput type="text" name="cellphone" formControlName="cellphone" placeholder="Ingrese Celular" class="input-format">
          </div>

          <div >
            <input matInput type="password" name="password1" formControlName="password1" placeholder="Contraseña" class="input-format">
          </div>

          <div >
            <input matInput type="password" name="password2" formControlName="password2" placeholder="Confrimar Contraseña" class="input-format">
          </div>
      </div>
      <p *ngIf="error != null" style="color:red">{{error.err}}</p>
      <div style="display: flex; flex-direction: column; align-items: center;">
          <button mat-raised-button color="primary" type="submit"  ngClick="Submit" [disabled]="!registerForm.valid" class="button-format">Enviar</button><br>

      </div>
      <div class="links-box-format">
        <a routerLink="/login/" >Atrás</a>
      </div>

  </form>


  <div *ngIf="ventana_confirmacion" class="formulario">
      <div>
          <img src="/assets/Img/Recurso 2890.png" alt="">
      </div>

      <h3 style="color:white; font-weight: bolder; font-size: 0.75rem; width: 20rem;">Las instrucciones para restablecer su contraseña se han
          enviado a la dirección de email ingresado. <p (click)="refresh()" class="links-box-format">Regresar.</p> </h3>

  </div>
</body>
